src/parseXML/test.xml

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="platforminfo">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="resultCode" />
							<xs:element type="xs:string" name="resultMessage" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="head">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="transType" />
							<xs:element type="xs:string" name="taskNo" />
							<xs:element type="xs:string" name="recordNum" />
							<xs:element type="xs:string" name="signature" />
							<xs:element type="xs:string" name="resultCode" />
							<xs:element type="xs:string" name="resultMessage" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="body">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="policyList">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="policyNo" />
										<xs:element name="clientList">
											<xs:complexType>
												<xs:sequence>
													<xs:element type="xs:string" name="sequenceNo" />
													<xs:element type="xs:string" name="taxCode" />
													<xs:element name="result">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="resultCode" />
																<xs:element type="xs:string" name="resultMessage" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
